node_modules/
.idea/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.vscode

#FCM
google-services.json
GoogleService-Info.plist

# macOS
.DS_Store

# Android
android/
