name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events for all branches
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # A job that runs the unit tests
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Set up node
      - uses: actions/setup-node@v2

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # We don't have any meaningful at the moment so only typecheck for now
      - name: Run tests
      #  run: yarn test
        run: yarn typecheck

